<?xml version='1.0'?>
<database>
  <name>pieces_projet_bin_picking</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>model://boite_de_rangement</uri>
    <uri>model://carre_bleu</uri>
    <uri>model://etoile_verte</uri>
    <uri>model://fleur_rose</uri>
    <uri>model://hexagone_jaune</uri>
    <uri>model://losange_orange</uri>
    <uri>model://ovale_rose</uri>
    <uri>model://rectangle_bleu</uri>
    <uri>model://rond_vert</uri>
    <uri>model://triangle_orange</uri>
  </models>
</database>