<?xml version="1.0"?>

<model>
  <name>Boite de rangement statique</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Francois Joubert</name>
    <email>name@email.address</email>
  </author>

  <description>
    Boite dans laquelle se trouve les pièces
  </description>
</model>